parameters:
  ignoreErrors:
    - '#^.*expects Symfony\\Component\\Translation\\TranslatorInterface, Symfony\\Contracts\\Translation\\TranslatorInterface given\.$#'
    -
      message: '#^Parameter \#1 \$configuration of class PrestaShop\\PrestaShop\\Core\\ConstraintValidator\\TypedRegexValidator constructor expects PrestaShop\\PrestaShop\\Core\\ConfigurationInterface, PrestaShop\\PrestaShop\\Core\\String\\CharacterCleaner given\.$#'
      path: %currentWorkingDirectory%/src/Constraint/ConstraintValidatorFactory.php
    - 
      message: '#.*Doctrine\\Persistence\\Event\\LifecycleEventArgs but does not specify its types\: TObjectManager.*#'
      path: %currentWorkingDirectory%/src/EventListener/BlockGroupHooksUpdater.php

includes:
  - %currentWorkingDirectory%/tests/php/phpstan.dist.neon

