parameters:
  bootstrapFiles:
    - versions/1.7/class_aliases.php
  ignoreErrors:
    - 
      message: '#^Property Kaudaj\\Module\\Blocks\\Block\:\:\$translator \(Symfony\\Component\\Translation\\TranslatorInterface\) does not accept PrestaShopBundle\\Translation\\TranslatorComponent\.$#'
      path: %currentWorkingDirectory%/src/Block.php
    -
      message: '#^Parameter \#1 \$characterCleaner of class PrestaShop\\PrestaShop\\Core\\ConstraintValidator\\TypedRegexValidator constructor expects PrestaShop\\PrestaShop\\Core\\String\\CharacterCleaner, PrestaShop\\PrestaShop\\Adapter\\Configuration given\.$#'
      path: %currentWorkingDirectory%/src/Constraint/ConstraintValidatorFactory.php

includes:
  - %currentWorkingDirectory%/tests/php/phpstan.dist.neon
