parameters:
  paths:
  	# We consider that the extension file will be stored the folder test/phpstan
  	# From Phpstan 0.12, paths are relative to the .neon file.
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/kjblocks.php
  excludePaths:
    - %currentWorkingDirectory%/src/Grid/Position
  reportUnmatchedIgnoredErrors: true
  level: 8

includes:
  - %currentWorkingDirectory%/tests/php/.phpstan_bootstrap.neon
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
